extends page
block page
  include menu
  script
    $(document).ready(function(){$("html, body").animate({ scrollTop: $('#about').offset().top }, 1000);});
  section#about.animated.fadeInUp.l-col--12-of-12.background__color--neutral-mod-soft.bg__texture--noise-light.spacer__padding-right--size-large.spacer__padding-left--size-small.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-large.l--align-center
    article.l.l-col--10-of-12.l--last.l-col--10-of-12-sm.l--last-sm.spacer__padding-top--size-small(class=blocks['text-area--neutral']) 
      div(class=blocks['media__figure--xlarge'])
        img.img--full-size(src='/images/kara-pixie.jpg')
      div(class=blocks['media__content--xlarge'])
        h3 #{content.title}
        div!= content.body
