extends page
block page
  include menu
  section.l-col--12-of-12.background__color--neutral-very-loud.bg__texture--noise-light.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-xxlarge(id="contact")
    article.spacer__padding-top--size-large(class=blocks['text-area--neutral-soft'])
      h3 How can i help you?
      div.l.l-col--12-of-12.l--last
        div.spacer__margin-bottom--size-large.l--align-center
          div.l.l-self--align-middle.spacer__padding-right--size-small
            a.link--tel(href="mailto:kp@karapixie.com")
              p
                span(aria-hidden="true" data-icon!="&#xe763;")   
                | kp@karapixie.com 
          div(class=blocks['media__figure--small'])
            img.container__box-shadow--intensity-loud.container__border-radius--style-circle.img--full-size(src='/images/kara-photo.jpg' alt="Kara picture")
          div.l.l-self--align-middle
            a.link--fb(href="http://www.linkedin.com/pub/kara-caroccio/36/535/891")
              p
                span(aria-hidden="true" data-icon!="&#xe604;")   
                | Kara Caroccio CV
      - if (messages.info)
        div.foreground--success(class=blocks['container--rounded-flash'])
          span.flash__msg= messages.info
      - if (messages.error)
        div.foreground--error(class=blocks['container--rounded-flash'])
          span.flash__msg= messages.error
      div.l.l-col--12-of-12.l-col--8-of-12-sm.l--last.sm
        include form
        