//TODO
// Implement lazy load or pagination.

extends page
block page
  include menu
  ul.list--no-style.list--horizontal.l--align-center.spacer__margin-bottom--size-large(id='filters' class=blocks['island--small'])
    li.l--align-center.spacer__margin-bottom--size-large(class=blocks['text-area--neutral'])
      a.container__border--size-xsmall.active(href='#' id='all' class=blocks['container--rounded'] ) All
    - each category in categories
      li.l--align-center.spacer__margin-bottom--size-large(class=blocks['text-area--neutral'])
         a.container__border--size-xsmall(href='#' id=category.id class=blocks['container--rounded'] ) #{category.name}
  div.l.l--align-center.l-col--12-of-12.l--last.animated.fadeInLeft
    ul.l.list--no-style.l-col--12-of-12.l--align-center(id="catalogList").gallery__container
      - var i = 0;
      - var nProducts = 1;
      each item in items
        -if (nProducts != 0 && nProducts % 4 == 0)
          - var last = 'l--last-md'
        - else
          - var last = ''
        li(class=blocks['catalog__item'] class=last id=item.category.id)
          article(class=blocks['text-area--secondary'] class=blocks['island--small'])
            div.l.l-col--12-of-12.catalog__item.l--align-center
              a(class='popup-image' href=item.images[0].url title=item.title)
                img(src=item.images[1].url alt=item.title)
              h4 #{item.title}
              if (item.sold == true)
                h5 Sold!
              p 
                span #{item.category.name}
              p #{item.description}
              p
                strong
                  span #{item.height} x #{item.width}   
              a.modalbox.moreInfo(href='#popForm')
                div.l.spacer__margin-top--size-medium.background__color--neutral-loud(class=blocks['button--rounded'])
                  span.background__color--neutral-loud(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe614;")
                  span More Info
        - nProducts += 1;
      div.l#placeHolder
    div.l(id='moreData' class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(href='#')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe603;")
          span More 
  div.l.l-col--12-of-12(id="popForm")
    div.spacer__padding-top--size-large(class=blocks['text-area--neutral'])
      h3 Inquiry for sales
    include form
  script(src="/javascripts/data.js")
