// TODO
// Get CATEGORY and fill the field with it when edit item

extends page
block page
  article
    div.l-col--12-of-12.background__color--neutral-loud.spacer__margin-bottom--size-large(class=blocks['island--small'] class=blocks['text-area--neutral-soft'])
      div.l.l-col--7-of-12
        if user
          p Logged in as: 
            b #{user.username}
            //b #{user.role}
      div.l.l-col--5-of-12.l--last
        a(href="/logout")
          button.bg__gradient--linear-red(class=blocks['form__submit--rounded'] id='submit') Logout
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(href='/index')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe622;")
          span Back
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(href='#addProduct')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe603;")
          span Add Item
    - if (messages.info)
      div.foreground--success(class=blocks['container--rounded-flash'])
        span.flash__msg= messages.info
    - if (messages.error)
      div.foreground--error(class=blocks['container--rounded-flash'])
    div     
      ul.list--no-style.l--align-center(id="productList")
        - var i = 0;
        - var nProducts = 1;
        each item in items
          -if (nProducts != 0 && nProducts % 4 == 0)
            - var last = 'l--last-md'
          - else
            - var last = ''
          li(class=blocks['catalog__item'] class=last).background__color--neutral-very-loud
            article(class=blocks['text-area--secondary'] class=blocks['island--small'])
                div.l.l-col--12-of-12.catalog__item.l--align-center
                  each image in item.images
                    a(href=image.url title=item.title)
                      img(src=image.url alt=item.title)
                  h4 #{item.title} 
                  //span.text--xlarge Blend 
                  p 
                    span #{item.category.name}
                  p #{item.description}
            div.l.l-col--5-of-12(class=blocks['text-area--neutral'])
              a(href='#' class='linkdeleteproduct' rel='' + item._id + '')
                div.l.spacer__margin-bottom--size-large.background__color--neutral-soft(class=blocks['button--rounded'])
                  span.background__color--neutral-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe624;")
                  span Delete
            div.l.l-col--5-of-12.l-self--align-right(class=blocks['text-area--neutral'])
              a(href='/admin/catalog/' + item._id)
                div.l.spacer__margin-bottom--size-large.background__color--neutral-soft(class=blocks['button--rounded'])
                  span.background__color--neutral-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe623;")
                  span Edit
          - i += 2;
          - nProducts += 1;

    div.l.l-col--12-of-12(class=blocks['text-area--neutral'])      
      h3 Add Item
      - if (messages.valErrors)
        - each err in messages.valErrors
          p #{err.msg}
      #addProduct
        div.l.l-col--11-of-12.l-col--7-of-12-sm.l--last.l--last-sm    
          form#productForm(action='/admin/catalog' method='post' enctype="multipart/form-data")
            if messages.dataForm
              - var fields = {title: messages.dataForm[0].title, description: messages.dataForm[0].description}
            else
              - var fields = {title: '', description: ''}
            div
              label(for='name') Title:
            input.l-col--12-of-12#inputProductName(class=blocks['form__input--rounded'] type='text', name='title', placeholder='Title', value=fields.title, required)
            div
              label(for='description') Description:
            input.l-col--12-of-12#inputProductDescription(class=blocks['form__input--rounded'] type='text', name='description', placeholder='Description', value=fields.description, required)
            div
              label(for='category') Category:
            select(name='category')
              - each category in categories
                option(value='' + category.id + '') #{category.name}
            div
              label(for='file') Image:
            input.l-col--12-of-12#inputProductImage(class=blocks['form__input--rounded'] type='file' name="file")
            div
              input.bg__gradient--linear-tertiary(class=blocks['form__submit--rounded'] id="submit" type="submit" value="Add item")
              //button#btnAddProduct Add User
