// TODO
// Get CATEGORY and fill the field with it when edit item

extends page
block page
  article
    div.l-col--12-of-12.background__color--neutral-loud.spacer__margin-bottom--size-large(class=blocks['island--small'] class=blocks['text-area--neutral-soft'])
      div.l.l-col--7-of-12
        if user
          p Logged in as: 
            b #{user.username}
            //b #{user.role}
      div.l.l-col--5-of-12.l--last
        a(href="/logout")
          button.bg__gradient--linear-red(class=blocks['form__submit--rounded'] id='submit') Logout
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(href='/index')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe622;")
          span Back
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a.modalbox(id='addItem' href='#popForm')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe603;")
          span Add Item
    - if (messages.info)
      div.foreground--success(class=blocks['container--rounded-flash'])
        span.flash__msg= messages.info
    - if (messages.error)
      div.foreground--error(class=blocks['container--rounded-flash'])
        
