extends page
block page
  article
    include admin-menu       
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(id='linkCatalog' href='#')
        div.l.spacer__margin-bottom--size-large.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe600;")
          span Catalog
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a.linkSectionHtml(href='#' rel='about')
        div.l.spacer__margin-bottom--size-large.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe600;")
          span About
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a(id='linkBack' href='/index')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe622;")
          span Back
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a.modalbox(id='addItem' href='#popForm')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe603;")
          span Add Item
    div.l(class=blocks['text-area--neutral'] class=blocks['island--small'])
      a.modalbox(id='addCategory' href='#popCategoryForm')
        div.l.background__color--neutral-mod-soft(class=blocks['button--rounded'])
          span.background__color--neutral-mod-soft(class=blocks['icon--left'] aria-hidden="true" data-icon!="&#xe603;")
          span Add Category
    div#catalog 
    include html-editor

 
